#progress-bar {
  margin-bottom: 20px;
  margin-top: 10px;
}

.margin-menus {
  margin: 0;
  padding: 0;

  .cookie-modal {
    display: none;
  }
}

.video-container {
  position: relative;
  height: 100vh;
  background-color: #000;

  @media (min-height: 300px) {
    font-size: 1.5rem;
  }

  @media (min-height: 400px) {
    font-size: 2rem;
  }

  .video-player {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    object-fit: contain;
    z-index: 1;
  }

  .controls-container {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: auto;
    padding: 1rem;
    z-index: 2;
    display: flex;
    flex-direction: column;
    background-color: #00000070;
    transform: translateY(0);
    transition: transform 0.4s ease-in-out;

    .play-pause-button {
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .progress-bar {
      width: 100%;
      display: flex;
    }

    #replay10,
    #forward10,
    #fullscreen,
    #volume,
    #subtitles {
      @media (min-width: 300px) {
        font-size: 1rem;
      }

      @media (min-height: 300px) {
        font-size: 2rem;
      }

      @media (min-height: 400px) {
        font-size: 2.5rem;
      }
    }

    @media (min-width: 300px) {
      #replay10,
      #forward10 {
        display: none;
      }
    }

    @media (min-width: 400px) {
      #replay10,
      #forward10 {
        display: block;
      }
    }

    #subtitles {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      max-width: 40px;

      @media (min-height: 300px) {
        font-size: 1.7rem;
      }

      @media (min-height: 400px) {
        font-size: 2.2rem;
      }

      & .underline-subtitles {
        width: 0;
        height: 2px;
        background-color: var(--unknown-primary);
        transition: width 0.2s ease-in-out;
        border-radius: 99px;

        &.active {
          width: 100%;
        }
      }
    }

    &.hide-controls {
      transform: translateY(152px);
      transition: transform 0.5s ease;
    }
  }

  .minutes-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    font-family: "poppins", sans-serif;

    @media (min-height: 300px) {
      font-size: 0.8rem;
    }

    @media (min-height: 400px) {
      font-size: 1rem;
    }
  }
}

.volume-bar {
  position: relative;
  width: 100px;
  cursor: pointer;
  background: transparent;
  border-radius: var(--border-radius);
  
  @media (min-height: 300px) {
    height: 6px;
  }

  @media (min-width: 300px) {
    display: none;
  }

  @media (min-width: 400px) {
    display: block;
  }

  @media (min-height: 400px) {
    height: 8px;
  }

  --width-height-thumb: 18px;
  --border-radius: 99px;
  --bg-track: #ffffff50;

  .progress-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: var(--bg-track);
    border-radius: var(--border-radius);
  }

  .progress-fill {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    background: var(--unknown-primary);
    transition: width 0.1s ease-in-out;
    border-radius: var(--border-radius);
    
    .progress-thumb {
      position: absolute;
      top: 50%;
      width: var(--width-height-thumb);
      height: var(--width-height-thumb);
      background: var(--unknown-primary);
      border-radius: 50%;
      transform: translateY(-50%);
      opacity: 1;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);

      @media (min-height: 300px) {
        width: 14px;
        height: 14px;
        right: -7px;
      }

      @media (min-height: 400px) {
        width: 18px;
        height: 18px;
        right: -9px;
      }
    }
  }
}

.menu-top {
  position: absolute;
  z-index: 9;
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  transform: translateY(0);
  transition: transform 0.5s ease;

  @media (min-height: 300px) {
    font-size: 2rem;
  }

  @media (min-height: 400px) {
    font-size: 3rem;
  }

  .back-button {
    margin: 1rem;
    padding: 1rem;
    scale: 1;
    transition: scale 0.2s ease;

    &:hover {
      scale: 1.2;
    }
  }

  & button,
  & a {
    filter: drop-shadow(0 0 15px rgba(0, 0, 0, 1));
  }

  &.hide-controls {
    transform: translateY(-100%);
  }
}

.sidebar {
  position: fixed;
  z-index: 9999;
  right: -100%;
  width: 250px;
  background-color: var(--unknown-background-secondary);
  transition: right 0.3s ease-in-out;
  padding: 1rem;
  border-radius: 1rem;

  @media (min-height: 300px) {
    bottom: 70px;
    min-height: 200px;
  }

  @media (min-height: 400px) {
    bottom: 152px;
    min-height: 250px;
  }
}

.sidebar.visible {
  right: 0;
}

.subtitles-button,
.audio-button,
.velocita-button {
  width: 100%;
  text-align: left;
  background-color: var(--unknown-background);
  padding: 0.5rem;
  border-radius: 0.5rem;

  &.active {
    background-color: var(--unknown-primary);
  }
}

.velocita-button {
  font-family: "poppins", sans-serif;
}

video::cue {
  opacity: 0 !important;
}

.subtitles-container {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 200px;
  z-index: 1;
  transition: transform 0.5s ease;
  opacity: 0;

  &.active {
    opacity: 1;
  }

  @media (min-height: 300px) {
    transform: translateY(-130px);

    &.hide-controls {
      transform: translateY(0px);
    }
  }

  @media (min-height: 400px) {
    transform: translateY(0);
    height: 300px; /* Altezza maggiore per schermi più alti */

    &.hide-controls {
      transform: translateY(152px);
    }
  }
}

.subtitles-text {
  opacity: 0;
  position: absolute;
  width: 100%;
  height: 100%; /* Ora funzionerà correttamente perché il container ha un'altezza */
  transition: opacity 0.3s ease;

  &.visible {
    opacity: 1;
  }

  & p {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    margin: 1rem;
    line-height: 1.3;
    text-align: center;
    width: 100%;

    @media (min-height: 300px) {
      font-size: 1.5rem;
      bottom: 10px;
    }

    @media (min-height: 400px) {
      font-size: 2rem;
      bottom: 150px;
    }

    & span {
      background-color: #00000070;
      border-radius: 4px;
      display: inline-block;
      max-width: 90%;
    }
  }
}

.hide-cursor {
  cursor: none !important;
}

.progress-bar {
  position: relative;
  width: 100%;
  cursor: pointer;
  background: transparent;
  border-radius: 99px;
  
  @media (min-height: 300px) {
    height: 6px;
  }
  
  @media (min-height: 400px) {
    height: 8px;
  }

  --bg-track: #ffffff50;
  --bg-buffer: #ffffff70;
  --border-radius: 99px;

  .progress-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: var(--bg-track);
    border-radius: var(--border-radius);
  }

  .progress-buffer {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    background: var(--bg-buffer);
    transition: width 0.1s ease-in-out;
    border-radius: var(--border-radius);
  }

  .progress-fill {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    background: var(--unknown-primary);
    transition: width 0.05s linear;
    border-radius: var(--border-radius);
    
    .progress-thumb {
      position: absolute;
      top: 50%;
      background: var(--unknown-primary);
      border-radius: 50%;
      transform: translateY(-50%);
      opacity: 1;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
      
      @media (min-height: 300px) {
        width: 16px;
        height: 16px;
        right: -8px;
      }
      
      @media (min-height: 400px) {
        width: 18px;
        height: 18px;
        right: -9px;
      }
    }
  }
}
