:root {
  --bg-fill: var(--unknown-primary);
  --color-primary: var(--unknown-primary);
  --bg-track: #ffffff50;
  --bg-buffer: #ffffff70;
  --border-radius: 99px;
}

/* ----- Global ----- */
.margin-menus {
  margin: 0;
  padding: 0;

  .cookie-modal {
    display: none;
  }
}

/* ----- Video container ----- */
.video-container {
  position: relative;
  height: 100vh;
  background-color: #000;

  @media (min-width: 300px) {
    font-size: 1.5rem;
  }

  @media (min-width: 576px) {
    font-size: 2rem;
  }

  /* ----- Menu top ----- */
  & .menu-top {
    position: absolute;
    z-index: 2;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    transform: translateY(0);
    transition: transform 0.5s ease;

    & .back-button,
    & .next-episode {
      scale: 1;
      transition: scale 0.2s ease;
      filter: drop-shadow(0 0 15px rgba(0, 0, 0, 1));

      &:hover {
        scale: 1.1;
      }

      @media (min-width: 300px) {
        font-size: 2rem;
      }

      @media (min-width: 576px) {
        font-size: 2.5rem;
      }

      @media (min-width: 768px) {
        font-size: 3rem;
      }

      @media (min-width: 992px) {
        font-size: 3.5rem;
      }
    }

    &.hide-controls {
      transform: translateY(-100%);
    }

    @media (min-width: 300px) {
      padding: 0.5rem;
    }

    @media (min-width: 567px) {
      padding: 1rem;
    }

    @media (min-width: 768px) {
      padding: 1.5rem;
    }
  }

  /* ----- Controlli ----- */
  .controls-container {
    position: absolute;
    z-index: 2;
    bottom: 0;
    left: 0;
    width: 100%;
    height: auto;
    background: #00000070;
    transition: transform 0.5s ease;

    @media (min-width: 300px) {
      padding: 1rem;
      padding-bottom: 0.5rem;
    }

    @media (min-width: 768px) {
      padding: 1rem;
    }

    & .minutes {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 100%;
      font-family: "Poppins", sans-serif;

      @media (min-width: 300px) {
        font-size: 0.8rem;
      }

      @media (min-width: 576px) {
        font-size: 1rem;
      }

      @media (min-width: 768px) {
        font-size: 1.2rem;
      }
    }

    & .progress-bar {
      position: relative;
      width: 100%;
      cursor: pointer;
      background: var(--bg-track);
      border-radius: var(--border-radius);

      @media (min-width: 300px) {
        height: 8px;
      }

      @media (min-width: 768px) {
        height: 8px;
      }

      & .progress-buffer {
        background: var(--bg-buffer);
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        transition: width 0.1s ease-in-out;
        border-radius: var(--border-radius);
      }

      & .progress-fill {
        background: var(--bg-fill);
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        transition: width 0.05s linear;
        border-radius: var(--border-radius);

        & .progress-thumb {
          position: absolute;
          top: 50%;
          background: var(--bg-fill);
          border-radius: 50%;
          transform: translateY(-50%);
          opacity: 1;
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);

          @media (min-width: 300px) {
            width: 14px;
            height: 14px;
            right: -7px;
          }

          @media (min-width: 576px) {
            width: 16px;
            height: 16px;
            right: -8px;
          }

          @media (min-width: 768px) {
            width: 18px;
            height: 18px;
            right: -9px;
          }
        }
      }
    }

    & .controls {
      display: flex;
      align-items: center;
      justify-content: space-between;

      & .left {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        gap: 1rem;

        & .volume-bar {
          position: relative;
          width: 100px;
          cursor: pointer;
          background: var(--bg-track);
          border-radius: var(--border-radius);

          & .progress-fill {
            background: var(--bg-fill);
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            border-radius: var(--border-radius);

            & .progress-thumb {
              background: var(--bg-fill);
              position: absolute;
              top: 50%;
              transform: translateY(-50%);
              opacity: 1;
              box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
              border-radius: var(--border-radius);

              @media (min-width: 300px) {
                width: 14px;
                height: 14px;
                right: -7px;
              }
    
              @media (min-width: 576px) {
                width: 16px;
                height: 16px;
                right: -8px;
              }
    
              @media (min-width: 768px) {
                width: 18px;
                height: 18px;
                right: -9px;
              }
            }
          }
        }

        @media (min-width: 300px) {
          margin: 0.5rem 0.5rem 0.5rem 0.5rem;
        }

        @media (min-width: 768px) {
          margin: 1rem 0.5rem 0.5rem 0.5rem;
        }

        @media (min-width: 300px) {
          & #play_pause {
            font-size: 1.5rem;
          }

          & #replay10,
          & #forward10 {
            display: none;
          }

          & #volume {
            font-size: 2rem;
          }

          & .volume-bar {
            display: none;
          }
        }

        @media (min-width: 576px) {
          & #replay10,
          & #forward10 {
            display: block;
            font-size: 1.8rem;
          }

          & .volume-bar {
            display: block;
            height: 6px;
          }
        }

        @media (min-width: 768px) {
          & #play_pause {
            font-size: 2rem;
          }

          & #replay10,
          & #forward10 {
            font-size: 2.4rem;
          }

          & #volume {
            font-size: 2.4rem;
          }

          & .volume-bar {
            height: 8px;
          }
        }
      }

      & .right {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        flex-direction: row-reverse;
        gap: 1rem;

        @media (min-width: 300px) {
          & #subtitles {
            font-size: 2rem;
          }

          & #settings {
            font-size: 1.7rem;
          }

          & #fullscreen {
            font-size: 2rem;
          }
        }

        @media (min-width: 768px) {
          & #subtitles {
            font-size: 2.5rem;
          }

          & #settings {
            font-size: 2.2rem;
          }

          & #fullscreen {
            font-size: 2.5rem;
          }
        }
      }
    }

    &.hide-controls {
      transform: translateY(100%);
    }
  }

  /* ----- Video ----- */
  .video-player {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    object-fit: contain;
    z-index: 1;

    &::cue {
      opacity: 0 !important;
    }
  }

  /* ----- Sottotitoli ----- */
  .subtitles-container {
    position: absolute;
    z-index: 1;
    bottom: 0;
    width: 100%;
    transition: transform 0.5s ease;
    height: 200px;
    opacity: 0;

    &.active {
      opacity: 1;
    }

    @media (min-width: 300px) {
      transform: translateY(-130px);

      &.hide-controls {
        transform: translateY(0);
      }
    }

    @media (min-width: 576px) {
      transform: translateY(0);

      &.hide-controls {
        transform: translateY(150px);
      }
    }

    & .subtitles-text {
      opacity: 0;
      position: absolute;
      width: 100%;
      height: 100%;
      transition: opacity 0.3s ease;

      &.visible {
        opacity: 1;
      }

      & p {
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 1rem 0;
        text-align: center;
        width: 100%;

        @media (min-width: 300px) {
          font-size: 1.2rem;
          bottom: 110px;
        }

        @media (min-width: 576px) {
          font-size: 1.4rem;
          bottom: 150px;
        }

        @media (min-width: 992px) {
          font-size: 2rem;
        }

        & span {
          background-color: #00000070;
          border-radius: 4px;
          display: inline-block;
          max-width: 90%;
        }
      }
    }
  }

  /* ----- Slidebar ----- */
  .sidebar {
    position: absolute;
    right: -100%;
    width: 250px;
    z-index: 2;
    background-color: var(--unknown-background-secondary);
    transition: right 0.3s ease;
    padding: 1rem;
    border-radius: 1rem;
    height: 100%;
    max-height: 300px;
    bottom: 80px;

    &.visible {
      right: 0;
    }

    & .subtitles-button,
    & .audio-button,
    & .velocita-button {
      width: 100%;
      text-align: left;
      background-color: var(--unknown-background);
      padding: 0.5rem;
      border-radius: 0.5rem;

      &.active {
        background-color: var(--unknown-primary);
      }
    }
  }
}
