#content-slider {
  --slider-margin: 16px;
  --slider-border-radius: 16px;
  --slider-content-padding: 6px;

  margin: var(--slider-margin);
  margin-bottom: calc(var(--slider-margin) * 3.5);
  border-radius: 16px;
  
  .content-img {
    outline: 4px solid var(--unknown-primary);
    padding: var(--slider-content-padding);
    border-radius: var(--slider-border-radius);
    
    & img {
      border-radius: calc(var(--slider-border-radius) - var(--slider-content-padding));
    }
  }
  
  @media (min-width: 10px) {
    margin-bottom: calc(var(--slider-margin) * 2.8);
  }

  @media (min-width: 545px) {
    margin-bottom: calc(var(--slider-margin) * 3.5);
  }
}

#content-slider img {
  width: 100%;

  @media (min-width: 10px) {
    &[dara-device="pc"] {
      display: none;
    }

    &[dara-device="tablet"] {
      display: none;
    }

    &[dara-device="mobile"] {
      display: block;
    }
  }

  @media (min-width: 545px) {
    &[dara-device="pc"] {
      display: none;
    }

    &[dara-device="tablet"] {
      display: block;
    }

    &[dara-device="mobile"] {
      display: none;
    }
  }

  @media (min-width: 810px) {
    &[dara-device="pc"] {
      display: block;
    }

    &[dara-device="tablet"] {
      display: none;
    }

    &[dara-device="mobile"] {
      display: none;
    }
  }
}

.swiper {
  margin-bottom: 1rem;

  --swiper-button-right: 0px;
  --swiper-height-width-button: 40px;


  @media (min-width: 10px) {
    --swiper-button-right-percent: 3%;
    --swiper-pagination-left-percent: 3%;
  }

  @media (min-width: 545px) {
    --swiper-button-right-percent: 2%;
    --swiper-pagination-left-percent: 2%;
  }

  @media (min-width: 810px) {
    --swiper-button-right-percent: 1%;
    --swiper-pagination-left-percent: 1%;
  }

  

  .swiper-button-next,
  .swiper-button-prev {

    color: #fff;
    background-color: #000;
    border: 1px solid #fff;
    bottom: 0;
    top: auto;
    width: var(--swiper-height-width-button);
    height: var(--swiper-height-width-button);
    border-radius: 9999px;
    transition: color 0.2s ease-in-out, border-color 0.2s ease-in-out;
    /* display: none !important; */

    &:hover {
      color: var(--unknown-primary);
      border-color: var(--unknown-primary);
    }

    &::after {
      font-size: 16px;
    }

    @media (min-width: 10px) {
      display: none;
    }

    @media (min-width: 545px) {
      display: inline-flex;
    }
  }

  .swiper-button-next {

    right: calc(var(--swiper-button-right) + var(--swiper-button-right-percent));

    &::after {
      margin-left: 3px;
      margin-bottom: 1px;
    }

  }

  .swiper-button-prev {
    --swiper-button-right: 0px;
    left: auto;

    &::after {
      margin-right: 2px;
      margin-bottom: 1px;
    }

    @media (min-width: 10px) {
      right: calc(var(--swiper-button-right) + var(--swiper-button-right-percent) + var(--swiper-height-width-button) + 10px);
    }

    @media (min-width: 545px) {
      right: calc(var(--swiper-button-right) + var(--swiper-button-right-percent) + var(--swiper-height-width-button) + 10px);
    }

    @media (min-width: 810px) {
      right: calc(var(--swiper-button-right) + var(--swiper-button-right-percent) + var(--swiper-height-width-button) + 10px);
    }
  }

  .swiper-pagination {
    width: max-content !important;
    bottom: calc((var(--swiper-height-width-button) - 24px) / 2) !important;
    background-color: #00000080;
    /* background-color: #f00; */
    border-radius: 9999px;
    padding: 0 10px;
    left: auto;
    /* height: 20px; */

    .swiper-pagination-bullet {
      background-color: #fff;
      width: 12px;
      height: 12px;

      &.swiper-pagination-bullet-active {
        background-color: var(--unknown-primary);
      }
    }

    /* @media (min-width: 10px) {
      right: calc(var(--swiper-button-right-percent));
    }

    @media (min-width: 545px) {
      right: calc(var(--swiper-button-right) + var(--swiper-button-right-percent) + var(--swiper-height-width-button) + 5px + var(--swiper-height-width-button) + 0.5%);;
    } */
    

    @media (min-width: 10px) {
      left: 50% !important;
      transform: translateX(-50%);
    }

    @media (min-width: 545px) {
      left: var(--swiper-pagination-left-percent) !important;
      transform: translateX(0);
    }
  }
}