@tailwind base;
@tailwind components;
@tailwind utilities;

.text-primary {
  color: var(--unknown-primary) !important;
}

.bg-secondary {
  background-color: var(--unknown-background-secondary) !important;
}

.bg-tertiary {
  background-color: var(--unknown-background-tertiary) !important;
}

.poppins {
  font-family: "Poppins", sans-serif !important;
}

/* Seleziona la barra di scorrimento orizzontale */
::-webkit-scrollbar {
  height: 6px;
  width: 8px;
  background-color: var(--unknown-background-secondary);
}

/* Colore della barra di scorrimento */
::-webkit-scrollbar-thumb {
  background-color: var(--unknown-primary);
  border-radius: 9999999px;
}

/* Colore della barra di scorrimento quando è in uso */
::-webkit-scrollbar-thumb:hover {
  background-color: var(--unknown-primary-hover);
}

:root {
  /* Primary */
  --unknown-primary: #2e8b57;
  --unknown-primary-90: #2e8b5790;
  --unknown-primary-80: #2e8b5780;
  --unknown-primary-70: #2e8b5770;
  --unknown-primary-60: #2e8b5760;
  --unknown-primary-50: #2e8b5750;
  --unknown-primary-40: #2e8b5740;
  --unknown-primary-30: #2e8b5730;
  --unknown-primary-20: #2e8b5720;
  --unknown-primary-10: #2e8b5710;
  --unknown-primary-hover: #257046;

  /* Background */
  --unknown-background: #1a1a1a;
  --unknown-background-90: #1a1a1a90;
  --unknown-background-80: #1a1a1a80;
  --unknown-background-70: #1a1a1a70;
  --unknown-background-60: #1a1a1a60;
  --unknown-background-50: #1a1a1a50;
  --unknown-background-40: #1a1a1a40;
  --unknown-background-30: #1a1a1a30;
  --unknown-background-20: #1a1a1a20;
  --unknown-background-10: #1a1a1a10;

  --unknown-background-secondary: #242424;
  --unknown-background-tertiary: #111111;

  /* Text */
  --unknown-text-base: #ffffff;
  --unknown-text-base-90: #ffffff90;
  --unknown-text-base-80: #ffffff80;
  --unknown-text-base-70: #ffffff70;
  --unknown-text-base-60: #ffffff60;
  --unknown-text-base-50: #ffffff50;
  --unknown-text-base-40: #ffffff40;
  --unknown-text-base-30: #ffffff30;
  --unknown-text-base-20: #ffffff20;
  --unknown-text-base-10: #ffffff10;
  
  /* Error */
  --unknown-error: #f31230;
  --unknown-error-90: #f3123090;
  --unknown-error-80: #f3123080;
  --unknown-error-70: #f3123070;
  --unknown-error-60: #f3123060;
  --unknown-error-50: #f3123050;
  --unknown-error-40: #f3123040;
  --unknown-error-30: #f3123030;
  --unknown-error-20: #f3123020;
  --unknown-error-10: #f3123010;
  --unknown-error-hover: #b30e24;
  
  /* IMDb */
  --unknown-imdb: #F5C518;
}

*:focus-visible {
  outline: none;
}

@media (min-width: 10px) {
  .container-header {
    padding: 16px 24px;
  }

  .full-logo {
    display: none;
  }

  .icon-logo {
    display: block;
    & svg { 
      width: 80px;
    }
  }

  .menu-items {
    display: none;
  }

  .menu_bottom {
    display: block;
    height: 80px;
    background-color: var(--unknown-background);
    box-shadow: 0 0 10px 0 #00000050;
  }

  .menu_bottom-items {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 100%;
  }

}

@media (min-width: 545px) {
  .full-logo {
    display: block;
    & svg {
      height: 60px;
    }
  }

  .icon-logo {
    display: none;
  }

}

@media (min-width: 576px) {}

@media (min-width: 768px) {
  .container-header {
    padding: 16px 52px;
  }
}

@media (min-width: 810px) {
  .menu-items {
    display: flex;
  }

  .menu_bottom {
    display: none;
  }

}

.margin-menus {
  padding-top: 82px;
  margin-bottom: 80px;

  @media (min-width: 545px) {
    padding-top: 92px;
  }
}

html,
body {
  background-color: var(--unknown-background);
  color: var(--unknown-text-base);
  font-family: "UnknownSans", sans-serif;
  font-size: 16px;
}

.background {
  background-color: var(--unknown-background);
}

.header-top {
  background-color: var(--unknown-background);
  box-shadow: 0 0 10px 0 #00000050;
}

.link {
  border-bottom: 2px solid transparent;
}

.link.bold {
  border-bottom: 2px solid var(--unknown-primary);
}

.bold {
  font-weight: 700;
}

.disabled {
  pointer-events: none;
  opacity: 0.5;
}

.disabled-display {
  display: none;
}

.container-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.menu-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 28px;
}

.menu-container ul li a {
  padding: 5px;
}

.profile {
  background-color: var(--unknown-primary);
  padding: 7px;
  transition: background-color .2s ease-in-out;

  &:hover,
  &[aria-expanded="true"] {
    background-color: var(--unknown-primary-hover);
  }
}

.menu_bottom ul li a {
  min-width: 50px !important;
}

.menu_bottom-icon {
  font-size: 20px;
  padding: 2px 15px;
  border-radius: 99999px;
}

.menu_bottom-icon_active {
  background-color: #2e8b5770;
}

.input-search {
  background-color: var(--unknown-background-secondary);
  padding: 10px 15px;
  border-radius: 9999999px;
}

.modal-search,
.modal-settings,
.modal-delete,
.modal-change-avatar,
.notification-dropdown {
  background-color: var(--unknown-background) !important;
  @media (min-width: 10px) {
    margin: 0 ;
  }
}

.search-tab-list {
  background-color: var(--unknown-background-secondary) !important;
}

@media (prefers-color-scheme: dark) {
  .dark\:bg-default {
    --tw-bg-opacity: 1;
    background-color: var(--unknown-primary) !important;
  }
}

.filter-search {
  background-color: var(--unknown-background-secondary);
  padding: 15px;
  border-radius: 9999999px;
  transition: background-color .2s ease-in-out;
}

.filter-search:hover {
  background-color: var(--unknown-primary);
}

.avatar {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  overflow: hidden;
  vertical-align: middle;
  z-index: 0;
  width: 2rem;
  height: 2rem;
  outline: 2px solid transparent;
  outline-offset: 2px;
  font-size: var(--nextui-font-size-tiny);
  line-height: var(--nextui-line-height-tiny);
  --tw-bg-opacity: 1;
  background-color: hsl(var(--nextui-default) / var(--nextui-default-opacity, var(--tw-bg-opacity)));
  --tw-text-opacity: 1;
  color: hsl(var(--nextui-default-foreground) / var(--nextui-default-foreground-opacity, var(--tw-text-opacity)));
  border-radius: 9999px;
  --tw-ring-offset-shadow: var(--tw-ring-inset) 0 0 0 var(--tw-ring-offset-width) var(--tw-ring-offset-color);
  --tw-ring-shadow: var(--tw-ring-inset) 0 0 0 calc(2px + var(--tw-ring-offset-width)) var(--tw-ring-color);
  box-shadow: var(--tw-ring-offset-shadow), var(--tw-ring-shadow), var(--tw-shadow, 0 0 #0000);
  /* box-shadow: 0 0 0 2px var(--unknown-primary); */
  --tw-ring-offset-width: 2px;
  --tw-ring-offset-color: hsl(var(--nextui-background) / var(--nextui-background-opacity, 1));
  --tw-ring-opacity: 1;
  --tw-ring-color: hsl(var(--nextui-default) / var(--nextui-default-opacity, var(--tw-ring-opacity)));
  transition-property: transform;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 250ms;

  &[data-focus-visible="true"] {
    z-index: 10;
    outline-width: 2px;
    outline-color: hsl(var(--nextui-focus) / var(--nextui-focus-opacity, 1));
    outline-offset: 2px;
  }

}

.cookie-modal {
  --margin-default: 20px;
  --padding-default: 15px;
  font-size: 14px;
  position: fixed;
  left: 0;
  bottom: 0;
  z-index: 10;
  max-width: 400px;
  background-color: var(--unknown-background-secondary);
  padding: var(--padding-default);
  box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.1);
  border-radius: calc(var(--padding-default) * 2);
  margin: var(--margin-default);
  opacity: 0;
  transition: opacity .2s ease-in-out, transform .2s ease-in-out;
  transform: translateY(10%);

  @media (min-width: 10px) {
    margin-bottom: calc(80px + var(--margin-default));
  }

  @media (min-width: 810px) {
    margin-bottom: var(--margin-default);
  }

  a {
    text-decoration: underline;
  }

  &.fade-in {
    opacity: 1;
    transform: translateY(0);
  }

  &.fade-out {
    opacity: 0;
    transform: translateY(10%);
  }
}

.container-cookie-icon {
  margin-bottom: 10px;
  padding: 0 20px;

  .icon_cookie {
    max-width: 263px;
    width: 100%;
  }
}

.container-buttons-cookie {
  margin-top: 10px;

  button {
    font-size: 16px;
    border-radius: 9999999px;
    width: 100%;
    padding-top: 8px;
    padding-bottom: 8px;
    transition: background-color .2s ease-in-out;

    &[aria-label="Accetta"] {
      background-color: var(--unknown-primary);
      color: var(--unknown-text-base);
    }

    &[aria-label="Accetta"]:hover {
      background-color: var(--unknown-primary-hover);
    }

    &[aria-label="Declina"] {
      background-color: var(--unknown-background);
      color: var(--unknown-text-base);
    }

    &[aria-label="Declina"]:hover {
      background-color: var(--unknown-background-tertiary);
    }
  }
}

#notifiche span {
  font-size: 1rem
    /* 16px */
  ;
  line-height: 1.5rem
    /* 24px */
  ;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
}

.icon_account_dropdown {
  width: 1.5rem;
  height: 1.5rem;

  &.colored {
    color: var(--unknown-primary);
  }
}

.preview-avatar {
  width: 70px;
  height: 70px;
  object-fit: cover;
  border-radius: 9999999px;
}

.profile-dropdown {
  max-width: 150px;
  background-color: var(--unknown-background-secondary);

  & p {
    text-wrap: wrap;
  }
}

.input-settings {
  &label {
    font-size: 1rem;
    line-height: 1.5rem;
  }

  &button {
    font-size: 1rem;
    line-height: 1.5rem;
  }

  &[data-slot="popover"] {
    background-color: var(--unknown-background-secondary);
  }
}

.sottotitoli-options {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin: 20px 0;

  & #sottotitoli-input {
    margin-left: 30px;
  }
}

.btn-delete {
  background-color: var(--unknown-error-20);
  color: var(--unknown-text-base);
  text-align: start;
  padding: 10px 20px;
  font-size: 1rem;
  line-height: 1.5rem;
  display: flex;
  align-items: center;
  gap: 10px;
  border-radius: 12px;
  width: 320px;
  transition: background-color .2s ease-in-out, color .2s ease-in-out;

  &:hover {
    background-color: var(--unknown-error-30);
    color: var(--unknown-error);
  }
}

.delete-modal-header {
  border-bottom: 1px solid var(--unknown-text-base);
  border-radius: 14px 14px 0 0;
}

.delete-modal-footer {
  border-top: 1px solid var(--unknown-text-base);
  border-radius: 0 0 14px 14px;

  & button[aria-label="Annulla"] {
    background-color: var(--unknown-background-secondary) !important;

    &:hover {
      background-color: var(--unknown-primary) !important;
      color: var(--unknown-text-base);
    }
  }

  & button[aria-label="Elimina"] {
    background-color: var(--unknown-error) !important;
    color: var(--unknown-text-base);

    &:hover {
      background-color: var(--unknown-error-hover) !important;
    }
  }
}

.list-delete {
  padding-left: 15px;
  list-style: disc;
}

.toast {
  position: fixed;
  max-width: 302px;
  bottom: 0;
  right: 0;
  color: var(--unknown-text-base);
  background-color: var(--unknown-background-tertiary);
  border: 1px solid var(--unknown-primary);
  padding: 10px 20px;
  border-radius: 15px;
  z-index: 1000;
  margin: 20px;
  opacity: 0;
  transition: opacity .2s ease-in-out, transform .2s ease-in-out;
  transform: translateX(20%);

  &.fade-in-toast {
    opacity: 1;
    transform: translateX(0);
  }

  &.fade-out-toast {
    opacity: 0;
    transform: translateX(20%);
  }

  @media (min-width: 10px) {
    margin-bottom: calc(80px + 20px);
  }

  @media (min-width: 810px) {
    margin-bottom: 20px;
  }
}

.modal-footer-change-avatar {
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 10px;

  & button[aria-label="annulla_avatar"] {
    background-color: var(--unknown-background-tertiary) !important;
    color: var(--unknown-text-base);

    &:hover {
      background-color: var(--unknown-background-secondary) !important;
    }
  }

  & button[aria-label="salva_avatar"] {
    background-color: var(--unknown-primary) !important;
    color: var(--unknown-text-base);

    &:hover {
      background-color: var(--unknown-primary-hover) !important;
    }
  }
}

.avatar-container {
  display: flex;
  flex-direction: column;
  align-items: start;
  max-width: 100%;
  width: 100%;

  &:not(:last-child) {
    margin-bottom: 20px;
  }

  & .avatar-name {
    width: max-content;
    font-size: 1.5rem;
    line-height: 2rem;
    padding: 0 1.5rem;
  }

  & .avatar-content {
    display: flex;
    align-items: center;
    overflow-x: auto;
    width: 100%;

    & .avatar-content-container {
      display: flex;
      gap: 10px;
      padding: 10px 1.5rem;

      & button {
        width: 100px;
        height: 100px;
        border-radius: 9999999px;
        overflow: hidden;

        &.selected {
          outline: 3px solid var(--unknown-primary);
        }
      }

    }

  }
}

.modal-body-change-avatar {
  width: 100%;
  max-width: 100%;
  padding-left: 0;
  padding-right: 0;
  gap: 0;
}

.menu-item {
  padding: 10px 10px !important;
  border-bottom: 2px solid;
  border-color: transparent;
  transition: border-color .2s ease-in-out;

  &:hover {
    border-color: var(--unknown-primary-20);
  }

  &.menu-item_active {
    border-color: var(--unknown-primary);
  }
}

.episode-disabled {
  pointer-events: none;
  opacity: 0.5;
}

.loading-screen {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--unknown-background);
  z-index: 999999999999999999;
  overflow: hidden;
  transition: background-color .2s ease-in-out, color .2s ease-in-out, opacity .2s ease-in-out;
  color: var(--unknown-text-base);
  display: flex;
  justify-content: center;
  align-items: center;


  &.fade-out-loading {
    background-color: var(--unknown-background-10);
    color: var(--unknown-text-base-10);
    & * {
      opacity: 0.1;
    }
  }
}

.border-b-primary {
  border-bottom-color: var(--unknown-primary) !important;
}

